{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tuttaflix - assistir séries online, assistir filmes online</title>
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
</head>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="/"><img src="{% static 'assets/netflix.png' %}" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="/">Inicio</a>
        <a href="{% url 'movie:movies-all' %}">Filmes</a>
        <a href="{% url 'netflixapp:series-all' %}">Séries</a>
        <a href="{% url 'netflixapp:animations-all' %}">Animações</a>
        <a href="{% url 'netflixapp:mylist' %}">Minha lista</a>      
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>      
        <a href="{% url 'account_logout' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
          Sair</a>
      </nav>      
    </header>

    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="trending">Minha lista</h1>
          <div class="box">
            {% for movie in movielist %}
            <a href="{% url 'netflixapp:movie-detail' movie_id=movie.uuid %}">
                <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                    <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
                </div>
            </a>
            {% endfor %}
      </div>

{% block content %}
    
{% endblock content %}
</body>
</html>