{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tuttaflix - assistir séries online, assistir filmes online</title>
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
</head>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="netflixLogo">
        <a id="logo" href="#home"><img src="{% static 'assets/netflix.png' %}" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="/">Inicio</a>
        <a href="{% url 'movie:movies-all' %}">Filmes</a>
        <a href="{% url 'movie:series-all' %}">Séries</a>
        <a href="{% url 'movie:animations-all' %}">Kids</a>
        <a href="#">Minha lista</a>   
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>      
        <a href="{% url 'account_logout' %}" class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
          Sair</a>
      </nav>      
    </header>

    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">Populares na Tuttaflix</h1>
          <div class="box">
                {% for movie in popular_movies %}
                <a href="{% url 'movie:movie-detail' movie_id=movie.uuid %}">
                    <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                        <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
                    </div>
                </a>
                {% endfor %}
      </div>
      

      <h1 id="myList">Lançamentos</h1>
      <div class="box">
        {% for movie in releases %}
        <a href="{% url 'movie:movie-detail' movie_id=movie.uuid %}">
            <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
            </div>
        </a>
        {% endfor %}
</div>
      
      <h1 id="tvShows">Programas de TV</h1>
      <div class="box">
        {% for movie in tv_shows %}
        <a href="{% url 'movie:movie-detail' movie_id=movie.uuid %}">
            <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
            </div>
        </a>
        {% endfor %}
      </div>
      

      <h1 id="movies">Ação e Aventura</h1>
      <div class="box">
        {% for movie in action_adventure %}
        <a href="{% url 'movie:movie-detail' movie_id=movie.uuid %}">
            <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
            </div>
        </a>
        {% endfor %}              
      </div>

      <h1 id="originals">Área Kids</h1>
      <div class="box">
        {% for movie in animations %}
        <a href="{% url 'movie:movie-detail' movie_id=movie.uuid %}">
            <div class=" h-40 m-4  bg-blue-500 flex-shrink-0 rounded-md cursor-pointer w-40">
                <img src="{{movie.video.first.image.url}}" class="w-full h-full " alt="">
            </div>
        </a>
        {% endfor %}            
      </div>
    

{% block content %}
    
{% endblock content %}
</body>
</html>